		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

@media screen and (max-width: 704px) {
    
}


.specialty {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}